.personal-para {
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin-bottom: 10px;
  position: relative;
  right: 16px;
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
}
.circle-checkbox {
  color: #2643c4;
  position: relative;
  bottom: 2px;
  padding-right: 2px;
}
.trash {
  position: relative;
  top: -1px;
  color: rgb(102, 10, 10);
}
