<!-- VISWA YADEEDYA -->
<header class="header">
  <div class="p-d-flex p-jc-between">
    <div>
      <h4 (click)="visibleSidebar1 = true" class="text-tasklist">Task List</h4>
      &nbsp;&nbsp;
      <a
        class="header__btn"
        routerLinkActive="active"
        routerLink="/list/personal"
        (click)="onClick('personal')"
      >
        Personal List</a
      >
      <a
        class="header__btn"
        routerLinkActive="active"
        routerLink="/list/bussiness"
        (click)="onClick('bussiness')"
        >Bussiness List</a
      >
    </div>
    <a class="header__btn text-logout" (click)="onLogout()">Logout</a>
  </div>
</header>
<div class="p-d-flex p-jc-center">
  <app-sharedlist [selectedListName]="selectedList"></app-sharedlist>
</div>
