.col-bg {
  background: rgb(255, 255, 255);
  border-radius: 30px;
  padding-bottom: 3px;
  padding-left: 1.5px;
}

.rectangle {
  width: 120px;
  height: 85px;
  position: relative;
  top: 50px;
  text-decoration: none;
}
.rectangle h5 {
  color: black;
}

.rect-para {
  position: relative;
  top: 10px;
  left: 10px;
  color: #9d9ab4;
}
.rect-head {
  position: relative;
  left: 10px;
}
