.header {
  text-align: end;
  &__btn {
    text-decoration: none;
    color: $color-white;
    &:hover {
      text-decoration: underline;
    }
  }
  &__text-tasklist {
    display: inline;
    color: rgba(255, 255, 255, 0.678);
    font-size: 30px;
  }
  &__text-btn {
    margin-top: 13px;
  }
}

h5 {
  color: $color-darkgreen;
}
.todo-text {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;

  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 500;
  font-style: normal;
}
