.mobile {
  position: relative;
  width: 300px;
  height: 650px;
  background-color: #f4f6fd;
  border-radius: 40px;
  margin-top: 25px;
  border: 5px solid black;
  /* border: 20px; */
}
.camera {
  width: 100px;
  height: 15px;
  background-color: black;
  border-radius: 0px 0px 10px 10px;
  position: relative;
  left: 100px;
  top: -2px;
}
.x-circle {
  position: relative;
  top: 30px;
  left: 240px;
  color: #2643c4;
}

.input-text {
  position: relative;
  top: 200px;
}

input {
  border: none;
  padding: 5px 10px;
  background-color: #f4f6fd;
}

input:focus {
  outline: 0;
}

.form-control:focus {
  color: #212529;
  background-color: #f4f6fd;
  border-color: inherit;
  outline: 0;
  box-shadow: none;
}

.task-add {
  position: relative;
  top: 485px;
  left: 160px;
  border-radius: 15px;
  background-color: #2643c4;
  color: #f4f6fd;
  padding: 5px 10px;
}
button {
  border: none;
}

.calender {
  position: relative;
  bottom: 340px;
  left: 40px;
}
.calender p {
  color: #9d9ab4;
}

.text-fill {
  position: relative;
  bottom: 320px;
  left: 80px;
  color: #9d9ab4;
}

.flag {
  position: relative;
  bottom: 320px;
  left: 120px;
  color: #9d9ab4;
}

.moon {
  position: relative;
  bottom: 320px;
  left: 160px;
  color: #9d9ab4;
}
