/* You can add global styles to this file, and also import other style files */
body {
  background-color: #adbaeb;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
